<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='javascripts/socket.io.min.js'></script>
    <script src='javascripts/trafficlight.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <div id=red class="traffic_cell <% if (status.red == 1) {%>active<% } %>"></div>
      <div id=yellow class="traffic_cell <% if (status.yellow == 1) {%>active<% } %>"></div>
      <div id=green class="traffic_cell <% if (status.green == 1) {%>active<% } %>"></div>
    </ul>
  </body>
</html>
